/* shared styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btns button{
    background: #469165;
    border-radius: 4px;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    padding: 12px 16px;
    gap: 10px;
    border: none;
    cursor: pointer;
}
.btns:hover button{
    background-color: #36774a;
}
/* main styles */
header{
    background-color: #FFFFFF;
}
nav{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 24px 120px;
}
nav .logo img{
    width: 139px;
    height: 60px;
}
nav ul{
    font-family: 'Inter', sans-serif;
    display: flex;
    gap: 32px;
    list-style: none;

}
nav ul li a{
    font-weight: 500;
    font-size: 16px;
    line-height: 152%;
    color: #000000;
    text-decoration: none;
}
.banner{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    background-image: url('./assets/hero-bg.png');
}
.banner .banner-content{
    align-items: center;
    padding: 115.5px 120px 179.5px 120px;
}
.banner-content .early-acc{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #469165;
    background: #E6F4EA;
    border-radius: 1000px;
    padding: 8px 12px;
    gap: 6px;
    width: fit-content;
    margin-bottom: 16px;
    margin: 0 auto;
}
.banner-content .banner-text h1{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 72px;
    line-height: 84px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 16px;
}
.banner-content .banner-text h1 span{
    color: #30b868;
}
.banner-content .banner-text p{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 32px;
}
#banner-buttons{
    display: flex;
    justify-content: center;
    gap: 16px;

}
#banner-buttons button{
    width: 251px;
    height: 52px;
    font-family: 'Inter', sans-serif;
    font-weight: 600px;
    size: 16px;
    line-height: 100%;
    color: #FFFFFF;
    padding: 12px 16px;
    border-radius: 4px;
    background-color: #469165;
}

