/* shared styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btns button{
    background: #469165;
    border-radius: 4px;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    padding: 12px 16px;
    gap: 10px;
    border: none;
    cursor: pointer;
}
.btns:hover button{
    background-color: #36774a;
}
/* main styles */
header{
    background-color: #FFFFFF;
}
nav{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 24px 120px;
}
nav .logo img{
    width: 139px;
    height: 60px;
}
nav ul{
    font-family: 'Inter', sans-serif;
    display: flex;
    gap: 32px;
    list-style: none;

}
nav ul li a{
    font-weight: 500;
    font-size: 16px;
    line-height: 152%;
    color: #000000;
    text-decoration: none;
}
.banner{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    background-image: url('./assets/hero-bg.png');
}
.banner .banner-content{
    align-items: center;
    padding: 115.5px 120px 179.5px 120px;
}
.banner-content .early-acc{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #469165;
    background: #E6F4EA;
    border-radius: 1000px;
    padding: 8px 12px;
    gap: 6px;
    width: fit-content;
    margin-bottom: 16px;
    margin: 0 auto;
}
.banner-content .banner-text h1{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 72px;
    line-height: 84px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 16px;
}
.banner-content .banner-text h1 span{
    color: #30b868;
}
.banner-content .banner-text p{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 32px;
}
#banner-buttons{
    display: flex;
    justify-content: center;
    gap: 16px;

}
#banner-buttons button{
    font-weight: 600px;
    size: 16px;
    padding: 12px 16px;
    border-radius: 4px;
}

.notes{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 80px 120px;
    background-color: #F5F5F5;
    border-radius: 8px;
    text-align: center;
}
.notes-title h1{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 16px;
    text-align: center;
}
.notes-title h6{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #627382;
}
.cards-box{
    display: flex;
    justify-content: center;
}
.card{
    width: 322px;
    height: 300px;
    align-items: center;
    gap: 16px;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
    justify-content: space-between;
}
.card img{
    width: 64px;
    height: 64px;
    margin-bottom: 16px;
}
.card h3{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 8px;
}
.card p{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    text-align: center;
}
.solutions{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 120px;
}
.solutions .solution-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 60px;
}
.solution-text h2{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #001931;
    margin-bottom: 16px;
}
.solution-text h3{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #30b868;
    margin-bottom: 16px;
}
.solution-content .solution-text p{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}

.solution-content .solution-text ul{
    list-style: none;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;

}
.early-access{
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 80px 120px;
    background-color: #F5F5F5;
    border-radius: 12px;
    text-align: center;
    margin-bottom: 120px;
}
.early-access-content h1{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 16px;
}
.early-access-content p{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    margin-bottom: 32px;
}
footer{
    background-color: #001931;
}
footer .footer-content{
    width: 85%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 80px 120px;
    display: flex;
    justify-content: space-between;
}
.footer-content .footer-logo img{
    gap: 25px;
}
.footer-content h2{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: center;
}
.footer-logo{
    width: 139px;
    height: 60px;
}
footer .copyright{
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding-bottom: 30px;
}